<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org"
      xmls:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>EventosApp</title>
</head>
<body>
<h1>Cadastro de Eventos:</h1>
<form method="post">
    Nome: <input type="text" value="" name="nome"/> 
    Local: <input type="text" value="" name="local"/>  
    Data: <input type="text" value="" name="data"/>
    Horario: <input type="text" value="" name="horario"/>
    <button type="submit">Salvar</button>
</form>
</body>
</html>